
.container{
    margin:60px;
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}
.header{
    display: flex;
}
.list li{
    display: inline;
    margin: 10px;
}
.middle{
    display: flex;  
}
.middle img{
    margin-left: 90px;
    width: 270px;
    border: 2px solid rgb(128, 125, 125);
    border-radius: 360px;
}